In [1]:
# invisible
import numpy as np
import pandas as pd
np.core.arrayprint._line_width = 60


pd.set_option('display.max_colwidth', 65)
pd.set_option('display.max_columns', 5)

## Aufgaben zum Kapitel "Dateien lesen und schreiben"

### Aufgaben:

1. Aufgabe:

Die Datei "countries_population.csv" ist eine CSV-Datei, die die Bevölkerungszahlen von allen Ländern enthält (July 2014). Als Trennzeichen fungiert ein Leerzeichen, und Kommas trennen die Tausenderpositionen in Zahlen. Lesen Sie die Datei in einen DataFrame ein und geben Sie dann die ersten fünf Zeilen des DataFrame aus.

In [2]:
#prog4book
pop = pd.read_csv("data1/countries_population.csv", 
                  header=None,
                  names=["Country", "Population"],
                  index_col=0,
                  quotechar="'", 
                  sep=" ", 
                  thousands=",")
print(pop.head(5))

                Population
Country
China           1355692576
India           1236344631
European Union   511434812
United States    318892103
Indonesia        253609643

2. Aufgabe:

- Lesen Sie die csv-Datei (csv) [bundeslaender.txt]('data1/bundeslaender.txt') ein. Erzeugen Sie eine neue Datei mit den Spaltennamen 'land', 'area', 'female', 'male', 'population' und 'density', also die Anzahl der Einwohner pro Quadradkilometer.
- Geben Sie alle Zeilen aus mit einer Fläche größer als 30000 und deren Bevölkerung größer als 10000 ist.
- Geben Sie alle Zeilen aus, deren Dichte größer als 30000 ist.

In [3]:
#prog4book
lands = pd.read_csv('data1/bundeslaender.txt', sep=" ")
print(lands.columns.values)

['land' 'area' 'male' 'female']

In [4]:
#prog4book
# swap the columns of our DataFrame:
lands = lands.reindex(columns=['land', 'area', 'female', 'male'])
lands[:2]

                land      area  female  male
0  Baden-Württemberg  35751.65    5465  5271
1             Bayern  70551.57    6366  6103

In [5]:
#prog4book
lands.insert(loc=len(lands.columns), 
             column='population', 
             value=lands['female'] + lands['male'])
lands[:3]

                land      area  female  male  population
0  Baden-Württemberg  35751.65    5465  5271       10736
1             Bayern  70551.57    6366  6103       12469
2             Berlin    891.85    1736  1660        3396

In [6]:
#prog4book
lands.insert(loc=len(lands.columns), 
             column='density', 
             value=(lands['population'] * 1000 / lands['area']).round(0))

lands[:4]

                land      area   ...     population  density
0  Baden-Württemberg  35751.65   ...          10736    300.0
1             Bayern  70551.57   ...          12469    177.0
2             Berlin    891.85   ...           3396   3808.0
3        Brandenburg  29478.61   ...           2560     87.0

[4 rows x 6 columns]

In [7]:
#prog4book
print(lands.loc[(lands.area>30000) & (lands.population>10000)])

                  land      area   ...     population  density
0    Baden-Württemberg  35751.65   ...          10736    300.0
1               Bayern  70551.57   ...          12469    177.0
9  Nordrhein-Westfalen  34085.29   ...          18058    530.0

[3 rows x 6 columns]

3. Aufgabe: 

Im Verzeichnis ```data1``` befindet sich eine Datei ```person_data.txt``` mit Personendaten. Jede Zeile hat folgenden Aufbau:

```Vorname Nachname Größe Gewicht Geschlecht```

Lesen Sie die Datei in ein Datenframe ein. 

Erzeugen Sie dann eine Spalte mit dem BMI\footnote{BMI}, die Sie als Letztes an das DataFrame anhängen.

Es gilt:

$$BMI = \frac {g}{h**2} $$

In [8]:
#prog4book
pop = pd.read_csv("data1/person_data.txt", 
                  header=None,
                  names=["Vorname", "Nachname", "Größe", 
                         "Gewicht", "Geschlecht"],
                  index_col=0,
                  quotechar="'", 
                  sep=" ", 
                  thousands=",")

pop.insert(loc=len(pop.columns), 
                   column='BMI',
                   value=pop["Gewicht"]*10000 / (pop["Größe"]**2))

pop.head(10)

          Nachname  Größe  Gewicht Geschlecht        BMI
Vorname
Randy       Carter    184     73.0       male  21.561909
Stephanie    Smith    149     52.0     female  23.422368
Cynthia     Watson    174     63.0     female  20.808561
Jessie      Morgan    175     67.0       male  21.877551
Katherine   Carter    183     81.0     female  24.187046
David         Reed    187     60.0       male  17.158054
Stephen      Jones    192     96.0       male  26.041667
Jerry        Allen    204     91.0       male  21.866590
Billy       Wright    180     66.0       male  20.370370
Earl         Green    184     52.0       male  15.359168